<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ticket-heading"
        data-cy="TicketCreateUpdateHeading"
        jhiTranslate="xmplAngularSpringswiseApp.ticket.home.createOrEditLabel"
      >
        Create or edit a Ticket
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.ticket.issue" for="field_issue">Issue</label>
          <input type="text" class="form-control" name="issue" id="field_issue" data-cy="issue" formControlName="issue" />
          <div *ngIf="editForm.get('issue')!.invalid && (editForm.get('issue')!.dirty || editForm.get('issue')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('issue')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.ticket.timeStamp" for="field_timeStamp">Time Stamp</label>
          <div class="d-flex">
            <input
              id="field_timeStamp"
              data-cy="timeStamp"
              type="datetime-local"
              class="form-control"
              name="timeStamp"
              formControlName="timeStamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.ticket.student" for="field_student">Student</label>
          <select
            class="form-control"
            id="field_student"
            data-cy="student"
            name="student"
            formControlName="student"
            [compareWith]="compareStudent"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="studentOption" *ngFor="let studentOption of studentsSharedCollection">{{ studentOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
