<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="xmplAngularSpringswiseApp.ticket.detail.title">Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.ticket.issue">Issue</span></dt>
        <dd>
          <span>{{ ticket.issue }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.ticket.timeStamp">Time Stamp</span></dt>
        <dd>
          <span>{{ ticket.timeStamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.ticket.student">Student</span></dt>
        <dd>
          <div *ngIf="ticket.student">
            <a [routerLink]="['/student', ticket.student.id, 'view']">{{ ticket.student.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
