<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="movie">
      <h2 data-cy="movieDetailsHeading"><span jhiTranslate="xmplAngularSpringswiseApp.movie.detail.title">Movie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ movie.id }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.movie.name">Name</span></dt>
        <dd>
          <span>{{ movie.name }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.movie.yearOf">Year Of</span></dt>
        <dd>
          <span>{{ movie.yearOf }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.movie.genre">Genre</span></dt>
        <dd>
          <span>{{ movie.genre }}</span>
        </dd>
        <dt><span jhiTranslate="xmplAngularSpringswiseApp.movie.rating">Rating</span></dt>
        <dd>
          <span>{{ movie.rating }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/movie', movie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
