<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-truck-heading" data-cy="TruckCreateUpdateHeading" jhiTranslate="xmplAngularSpringswiseApp.truck.home.createOrEditLabel">
        Create or edit a Truck
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.truck.modelName" for="field_modelName">Model Name</label>
          <input type="text" class="form-control" name="modelName" id="field_modelName" data-cy="modelName" formControlName="modelName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.truck.make" for="field_make">Make</label>
          <input type="text" class="form-control" name="make" id="field_make" data-cy="make" formControlName="make" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.truck.motorSize" for="field_motorSize">Motor Size</label>
          <input type="number" class="form-control" name="motorSize" id="field_motorSize" data-cy="motorSize" formControlName="motorSize" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="xmplAngularSpringswiseApp.truck.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
